{% extends 'base.html' %}

{% block content %}
<div class="main-info">
    <div class="main-h1">
        <h1 class="">Skyrocket Your Live Stream Reach: Genuine Engagement on Autopilot</h1>
    </div>
    <div class="main-p">
        <p class="text-muted">
            Boost your
            streaming success today with DOGEHYPE! With our service, you can buy
            <strong class="text-white">Twitch</strong>
            <strong class="text-white">Kick</strong>
            <strong class="text-white">Chzzk.Naver</strong>
            <strong class="text-white">Rumble</strong>
            <strong class="text-white">BigoTV</strong>
            viewers and followers to
            instantly elevate your live stream's visibility and engagement. Our automated platform strategically
            showcases
            your content on various external sites, including movie and series portals, ensuring your streams are
            featured
            in a non-skippable format at the start of each film. This method not only brings real, engaged viewers
            directly
            to your stream but also complies with streaming site regulations. Experience genuine growth and take control
            of
            your viewer and follower counts with our reliable, audience-focused strategy.
        </p>
    </div>


</div>

{% endblock %}