{% load static %}

<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'users/css/styles_sent_email.css' %}" rel="stylesheet" />
    <style>
        #resend-button {
            display: none; /* Кнопка скрыта по умолчанию */
        }
    </style>
</head>
<body>
    <div class="container" data-email="{{ user_email }}">
        <div class="card">
            <div class="icon">
                <img src="/media/mail-icon.png" alt="Mail Icon">
            </div>
            <h1>Check your mail</h1>
            <p>A verification link has been sent to your email address: <strong>{{ user_email }}</strong></p>
            <p id="timer-text">Didn't receive Email? Resend again in <span id="timer">30</span> seconds.</p>
            <button id="resend-button" onclick="resendEmail()" class="login-btn">Resend Email</button>
        </div>
    </div>
    <script src="{% static 'users/js/script.js' %}"></script>
</body>
</html>
