{% extends 'login.html' %}

{% block content_users %}
<h1>Письмо отправлено!</h1>
<h1 style="font-size: 15px">Мы отправили вам инструкцию по активации новой учетной записи на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</h1>

<h1 style="font-size: 15px">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</h1>
<a href="{% url 'users:login' %}"><button type="submit" class="login-btn" >Войти</button></a>
{% endblock %}