{% extends "login.html" %}
{% load i18n %}

{% block content_users %}
<h1>Сброс пароля</h1>

<h1 style="font-size: 15px">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</h1>

<h1 style="font-size: 15px">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</h1>
<a href="{% url 'users:login' %}"><button type="submit" class="login-btn" >Войти</button></a>

{% endblock %}