{% load static %}
<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title>Dashboard</title>
    <link type="text/css" href="{% static 'users/css/users_profile.css' %}" rel="stylesheet"/>
    <style>
        /* Стили для чата в правом нижнем углу */
        #chat-box {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 300px;
            background-color: black;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            display: none;
            flex-direction: column;
            z-index: 1000;
        }

        #chat-header {
            background-color: red;
            color: black;
            padding: 10px;
            border-radius: 10px 10px 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        #chat-body {
            padding: 10px;
            height: 200px;
            overflow-y: auto;
        }

        #chat-footer {
            display: flex;
            border-top: 1px solid #ddd;
            padding: 5px;
        }

        #chat-footer input {
            flex: 1;
            padding: 5px;
        }

        #chat-footer button {
            margin-left: 5px;
        }

        #chat-toggle-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            background-color: red;
            color: black;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            z-index: 1001;
            font-size: 24px;
        }
    </style>
</head>
<body>
<header class="header-item">
    <div class="profile-info">
        <span class="profile-name">NEZHNA</span>
        <span class="profile-email">Website ID: {{ user.email }}</span>
        <span class="available-funds">Available Funds: <span class="user-balance">{{ user.balance }}</span></span>
        <button class="add-funds-btn">+ Add Funds</button>
    </div>

    <div class="logout">
        <a href="{% url 'users:logout' %}"
           onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            Log out
        </a>
        <form id="logout-form" method="POST" style="display: none;" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    </div>
</header>

<div id="modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h3>Replenish Balance</h3>
        <form id="balance-form" method="post" data-url="{% url 'order:create-order' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3">
                <label for="id_email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value }}">
                {{ form.email.errors }}
            </div>

            <div class="mb-3">
                <label for="id_balance_for_replenishment" class="form-label">Balance for Replenishment</label>
                <input type="number" class="form-control" id="id_balance_for_replenishment"
                       name="balance_for_replenishment"
                       value="{{ form.balance_for_replenishment.value }}" required>
                {{ form.balance_for_replenishment.errors }}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div id="balance-form-message" style="display: none;"></div> <!-- Блок для ошибок -->
    </div>
</div>
<div id="success-message" style="display: none;"></div> <!-- Блок для успешного сообщения -->


{% if global_messages %}
<div id="global-messages">
    {% for message in global_messages %}
    <!-- Проверка через JS на наличие cookie с ID сообщения -->
    <div class="global-message" data-message-id="{{ message.id }}">
        <span>{{ message.text|safe }}</span>
        <button class="close-message">&times;
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<main>
    <section class="services">
        <h2>Select Services</h2>
        <div class="service-buttons">
            {% for service, service_option, form, user_discount_percentage in forms %}
            <button class="service-btn" onclick="toggleForm('form-{{ service_option.id }}')">
                <span>{{ service.name }}</span><br>
                <span>{{ service_option.name }}</span>
            </button>
            {% endfor %}
        </div>
    </section>

    <div class="error-message-container">
        {% if order_errors %}
        <div id="error-message" class="error-message">
            {% for error in order_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <!-- Формы для каждого сервиса -->
    <section class="service-forms">
        {% for service, service_option, form, user_discount_percentage in forms %}
        <div id="form-{{ service_option.id }}" class="service-form" style="display:none;">
            <h3>{{ service.name }} - {{ service_option.name }}</h3>
            <form method="POST" id="myForm-{{ service_option.id }}" class="purchase-form"
                  data-price-per-unit="{{ service_option.price_per_unit }}"
                  data-discount-percentage="{{ service_option.discount_percentage }}"
                  data-user-discount-percentage="{{ user_discount_percentage|default:0 }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="service_option_id" value="{{ service_option.id }}">
                <div class="button-div">
                    <button type="submit" class="btn btn-primary">
                        Buy
                        <span id="total-price-{{ service_option.id }}" class="button-price"></span>
                    </button>
                    <span>
                        {% if user_discount_percentage %}
                            User discount price:
                            <span class="discount-price">- {{ user_discount_percentage }}%</span>
                        {% endif %}
                        {% if service_option.discount_percentage %}
                            Discount price:
                            <span class="discount-price">- {{ service_option.discount_percentage }}%</span>
                        {% endif %}
                    </span>
                </div>
            </form>
        </div>
        {% endfor %}
    </section>

    <section class="user-orders">
        <h2>Your Orders</h2>
        <hr>
        <!-- Таблица для заказов со статусом "Pending" -->
        {% if orders %}
        <span>Pending Orders:</span>
        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Period</th>
                <th>Status</th>
                <th>Start time</th>
                <th>End time</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            {% if order.status == 'pending' %}
            <tr>
                <td>{{ order.service.name }}</td>
                <td>{{ order.service_option.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.total_price }}</td>
                <td>{% if order.period %} {{ order.period }} {% else %} - {% endif %}</td>
                <td>
                    <span class="status-pending">{{ order.status }}</span>
                </td>
                <td>{{ order.created_at }}</td>
                <td>{% if order.completed %} {{ order.completed }} {% else %} - {% endif %}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <!-- Таблица для заказов со статусом "Running" -->
        {% if orders %}
        <span>Running Orders:</span>
        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Period</th>
                <th>Status</th>
                <th>Start time</th>
                <th>End time</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            {% if order.status == 'running' %}
            <tr>
                <td>{{ order.service.name }}</td>
                <td>{{ order.service_option.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.total_price }}</td>
                <td>{% if order.period %} {{ order.period }} {% else %} - {% endif %}</td>
                <td>
                    <span class="status-running">{{ order.status }}</span>
                </td>
                <td>{{ order.created_at }}</td>
                <td>{% if order.completed %} {{ order.completed }} {% else %} - {% endif %}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <!-- Таблица для заказов со статусом "Completed" -->
        {% if orders %}
        <span>Completed Orders:</span>
        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Period</th>
                <th>Status</th>
                <th>Start time</th>
                <th>End time</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            {% if order.status == 'completed' %}
            <tr>
                <td>{{ order.service.name }}</td>
                <td>{{ order.service_option.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.total_price }}</td>
                <td>{% if order.period %} {{ order.period }} {% else %} - {% endif %}</td>
                <td>
                    <span class="status-completed">{{ order.status }}</span>
                </td>
                <td>{{ order.created_at }}</td>
                <td>{% if order.completed %} {{ order.completed }} {% else %} - {% endif %}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>

    <!-- Чат -->
    <div id="chat-box">
        <div id="chat-header">
            <span>Chat</span>
            <span id="close-chat" style="cursor: pointer;">&times;</span>
        </div>
        <div id="chat-body">
            <p>Hello! How can I help you?</p>
        </div>
        <div id="chat-footer">
            <input type="text" id="chat-input" placeholder="Type a message...">
            <button id="send-message" class="btn btn-primary">Send</button>
        </div>
    </div>

    <!-- Кнопка для открытия чата -->
    <button id="chat-toggle-btn">💬</button>
</main>

<script>
    // Подключение WebSocket для общения с админом
    const roomName = "{{ user.id }}";  // Идентификатор комнаты для текущего пользователя

    const chatSocket = new WebSocket(
        'ws://31.129.102.58/ws/chat/' + roomName + '/'
    );

    // Обработка входящих сообщений
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const chatBody = document.querySelector('#chat-body');
        const messageElement = document.createElement('p');
        messageElement.textContent = data.message;
        chatBody.appendChild(messageElement);
        chatBody.scrollTop = chatBody.scrollHeight;  // Прокрутить чат вниз
    };

    // Закрытие сокета
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    // Отправка сообщений
    document.querySelector('#send-message').onclick = function(e) {
        const chatInput = document.querySelector('#chat-input');
        const message = chatInput.value;

        if (message.trim() !== '') {
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            chatInput.value = '';
        }
    };

    // Открытие и закрытие чата
    const chatBox = document.getElementById('chat-box');
    const chatToggleBtn = document.getElementById('chat-toggle-btn');
    const closeChatBtn = document.getElementById('close-chat');

    chatToggleBtn.addEventListener('click', function() {
        chatBox.style.display = 'flex';
        chatToggleBtn.style.display = 'none';  // Скрыть иконку
    });

    closeChatBtn.addEventListener('click', function() {
        chatBox.style.display = 'none';
        chatToggleBtn.style.display = 'block';  // Показать иконку снова
    });
</script>

<script>
    document.querySelectorAll('.purchase-form').forEach(function(form) {
        var quantityInput = form.querySelector('input[name="quantity"]');
        var totalPriceElement = form.querySelector('[id^="total-price"]');
        var pricePerUnit = parseFloat(form.getAttribute('data-price-per-unit').replace(',', '.').trim());

        // Общая скидка
        var discountPercentage = parseFloat(form.getAttribute('data-discount-percentage').replace(',', '.').trim()) || 0;

        // Индивидуальная скидка
        var userDiscountPercentage = parseFloat(form.getAttribute('data-user-discount-percentage').replace(',', '.').trim()) || 0;

        // Применяем максимальную из скидок
        var effectiveDiscountPercentage = Math.max(discountPercentage, userDiscountPercentage);

        quantityInput.addEventListener('input', function() {
            var quantity = parseInt(quantityInput.value) || 0;
            var totalPrice = pricePerUnit * quantity;

            var discount = (totalPrice * effectiveDiscountPercentage) / 100;
            var finalPrice = totalPrice - discount;

            totalPriceElement.textContent = finalPrice.toFixed(2) + ' $';
        });
    });

</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const errorMessage = document.getElementById("error-message");
        if (errorMessage) {
            setTimeout(() => {
                errorMessage.style.display = "none"; // Скрыть сообщение через 4 секунды
            }, 4000);
        }
    });
</script>

<script>
    // Функция для установки cookie
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    // Функция для получения cookie
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    // Функция для скрытия блока, если все сообщения закрыты
    function checkAndHideGlobalMessages() {
        var visibleMessages = document.querySelectorAll('.global-message:not([style*="display: none"])');
        if (visibleMessages.length === 0) {
            document.getElementById('global-messages').style.display = 'none';
        }
    }

    // Скрытие сообщений, если они уже закрыты
    document.querySelectorAll('.global-message').forEach(function (message) {
        var messageId = message.getAttribute('data-message-id');
        if (!getCookie('message_' + messageId)) {
            message.style.display = 'block'; // Показываем только те сообщения, которых нет в cookies
        }
    });

    // Обработка клика по кнопке "крестик"
    document.querySelectorAll('.close-message').forEach(button => {
        button.addEventListener('click', function () {
            var message = this.parentElement;
            var messageId = message.getAttribute('data-message-id');
            message.style.display = 'none'; // Скрываем сообщение
            setCookie('message_' + messageId, 'hidden', 30); // Сохраняем в cookie на 30 дней
            checkAndHideGlobalMessages(); // Проверяем, скрыты ли все сообщения
        });
    });

    // Проверяем сразу, нужно ли скрыть весь блок глобальных сообщений
    checkAndHideGlobalMessages();
</script>

<script src="{% static 'users/js/profile_form.js' %}"></script>
<script src="{% static 'users/js/order_form.js' %}"></script>



</body>
</html>