/* General Styles */
body {
    margin: 0;
    padding: 0 30px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: hsl(214.3, 12.3%, 13%);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Отступы внутри header */
    background-color: hsla(214.3, 12.3%, 20%);
    border-bottom: 1px solid #444;
}

.header-item {
  margin-left: 10px; /* Левый отступ для каждого элемента, если необходимо */
  margin-right: 10px; /* Правый отступ для каждого элемента */
}

.profile-info {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.profile-name {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.profile-email,
.available-funds {
    font-size: 14px;
    color: #ccc;
}

.user-balance {color: rgb(255, 238, 0);}

.add-funds-btn {
    background-color: #007bff;
    color: #fff;
    padding: 3px 7px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-funds-btn:hover {
    background-color: #0056b3;
}

.logout a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
}

.logout a:hover {
    text-decoration: underline;
}

.modal {
    display: flex; /* Используем flexbox для центровки */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.modal-content {
    color: black;
    background-color: white; /* Белый фон для карточки */
    padding: 20px;
    border-radius: 5px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для карточки */
    width: 300px; /* Ширина карточки */
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
    float: right; /* Помещаем кнопку закрытия в правый верхний угол */
    color: #aaa;
}

.close-btn:hover {
    color: black; /* Цвет при наведении */
}

#success-message {
    position: fixed; /* Фиксированное позиционирование */
    top: 20%; /* Отступ сверху */
    left: 50%; /* По центру горизонтально */
    transform: translate(-50%, -50%); /* Сдвигаем на половину ширины и высоты */
    background-color: rgba(0, 255, 0, 0.8); /* Полупрозрачный зеленый фон */
    color: white; /* Белый текст */
    padding: 20px; /* Отступы */
    border-radius: 5px; /* Скругление углов */
    z-index: 1000; /* Убедитесь, что сообщение будет поверх других элементов */
    display: none; /* Изначально скрыто */
}


/* Main Section */
main {
    padding: 20px;
}

/* Service Buttons */
.services {
    margin-bottom: 30px;
}

.service-buttons {
    display: flex;
    flex-wrap: wrap;
}

.service-btn {
    background-color: #333;
    font-size: 17px;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    border: 1.5px solid rgb(23, 23, 28);
    cursor: pointer;
}

.service-btn:hover {
    background-color: #444;
}

/* Table Styles */
.user-orders {margin-top: 30px;}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #2c2c2c;
}

thead th {
    background-color: #3c3c3c;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #444;
    text-align: left;
}

.no-data {
    text-align: center;
    padding: 20px;
    color: #888;
}


/* Стили для форм */
.service-form {
    width: 100%;
    background-color: #1b1b1e;
    border-radius: 8px;
    border: 1.5px solid rgb(23, 23, 28);
    padding: 30px 25px;
}

.service-form h3 {text-align: center;}

.service-form form, .service-form form p {
    display: flex;
    flex-direction: column;
}

.service-form form input, .service-form form select {
    height: 30px;
    border: 1px solid rgb(23, 23, 28);
    border-radius: 5px;
    padding: 10px;
    background-color: hsl(214.3, 12.3%, 13%);;
    color: #888;
}

.service-form form button {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 10px;
}

.discount-price {
    color: red;
}

.button-div {
    display: flex;
    align-items: center;
}

.button-price {
    margin-left: 5px;
    color: red;
}


.error-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    pointer-events: none;
    z-index: 1000;
}

.error-message {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 15px 20px; /* внутренний отступ */
    border-radius: 5px; /* закругленные углы */
    pointer-events: auto;
    text-align: center;
    align-items: center;
}

.error-message p {
    margin: 0;
    padding: 0;
}