* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-btn {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.or-divider {
    margin: 20px 0;
    color: #aaa;
    font-size: 14px;
}

.google-btn {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
}

.google-btn img {
    width: 20px;
    margin-right: 10px;
}

.secured-by {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}